Checks: "*,-llvm*,
  -google-readability-namespace,
  -llvmlib,
  -fuchsi,
  -alter,
  -modernize-use-trailing-return-type,
  -modernize-use-trailing-return,
  -readability-avoid-const-params-in,
  -cppcoreguidelines-macro-usage,
  -readability-identifier-length,
  -google-readability-todo,
  -fuchsia-default-arguments-calls,
  -altera-unroll-loops,
  -altera*,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -misc-non-private-member-variables-in-classes,
  -fuchsia-statically-constructed-objects,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -hicpp-vararg,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -google-build-using-namespace,
  -abseil-string-find-str-contains"
FormatStyle: file
HeaderFilterRegex: "^(?!extern).+$" #'./include/*.hpp,./shared/*.hpp'
